services:
  feedfactory:
    image: ghcr.io/jme-sds/feedfactory:main
    container_name: feedfactory
    restart: unless-stopped
    network_mode: service:tailscale
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
      - TZ=America/New_York
    ports:
      - 8000:8000
    volumes:
      - ./data:/app/data  # Persist the SQLite DB and XML files

  parser:
    image: wangqiru/mercury-parser-api:latest
    expose:
      - "3000"
    restart: unless-stopped
