services:
  feedfactory:
    image: ghcr.io/jme-sds/feedfactory:main
    container_name: feedfactory
    restart: unless-stopped
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENAI_BASE_URL=${OPENAI_BASE_URL}
      - TZ=America/New_York
    expose:
      - "8000"
    volumes:
      - ./data:/app/data  # Persist the SQLite DB and XML files

  frontend:
    image: ghcr.io/jme-sds/feedfactory-frontend:main
    container_name: feedfactory_frontend
    restart: unless-stopped
    environment:
      - BACKEND_URL=http://feedfactory:8000
      - NODE_ENV=production
    ports:
      - "3001:3000"
    depends_on:
      - feedfactory

  parser:
    image: wangqiru/mercury-parser-api:latest
    expose:
      - "3000"
    restart: unless-stopped
